statuspage {
    min-height: 32em;
    min-width: 24.5em;
}

splitbutton {
    min-width: 5em;
}

progress {
  background-image: linear-gradient(to right, #7a288a, #7548b6);
}

.logsdialog {
    min-height: 28em;
}

.addbridgedialog {
  min-width: 24em;
}

 .bp10 {
  padding-bottom: 1.0em;
}

.p5 {
  padding: 0.5em;
}
